app/etc/local.xml
media/catalog/product/cache/*
media/tmp/*
errors/local.xml
var/cache
var/backups
var/log
var/export
var/import
var/importexport
var/package
var/report
var/session
var/tmp
downloader/*
.htaccess
!*/.htaccess
.htpasswd
nbproject/*
.idea
.project
